<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css", "~/content/bootstrap")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <div id="wrap">
            
            <div class="navbar navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container">
                        <a class="brand" href="#"><img class="logo" src="~/Images/ai.png" /> Highcharter</a>
                        <div class="nav-collapse collapse">
                            <ul class="nav">
                                <li class="active"><a href="#">Home</a></li>
                                <li><a href="#about">About</a></li>
                                <li><a href="http://www.theaiteam.com">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="container">
                
                <div class="push"></div>
                <div class="push"></div>
                @RenderBody()
                
            </div>
            <div class="push"></div>
        </div>
        
        @Scripts.Render("~/bundles/jquery",
                        "~/bundles/highcharter", 
                        "~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
</html>
